language: java
jdk: openjdk8
services:
  - xvfb
before_install:
  - 'nvm install --lts'
  - 'export PATH=./node_modules/.bin:$PATH'
  - 'npm install -g typescript'
  - 'npm install -g mocha'
  - 'mvn install -f ./wsdl2rest/pom.xml'
install:
  - 'npm install --ignore-scripts'
  - 'npm install'
  # https://github.com/travis-ci/travis-ci/issues/8813
  - 'rm -f ./node_modules/.bin/which'
  - 'npm run vscode:prepublish'
  - 'npm install -g vsce'
  - 'vsce package'  
script:
  - 'npm test --silent'
  - 'npm run ui-test --silent'
after_success:
  - if [[ $TRAVIS_PULL_REQUEST == "false" && $TRAVIS_BRANCH == "master" ]]; then
    sonar-scanner;
    fi
cache:
  directories:
    - "$HOME/.m2"
    - "node_modules"
env: DISPLAY=:99
branches:
  except:
    - /^dependabot.*$/
addons:
  sonarcloud:
    organization: "camel-tooling"
    branches:
      - master
